@charset "UTF-8";


* {
margin: 0;
padding: 0;
	
}

#/* contents {	컨텐츠(공지사항) 
	background-color: black;
}  */

#noticeTable{ /*공지사항 테이블  css */
	text-align:center;

}

#notice_sub_tit{
	font-size:15px;
} 


