<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/css?family=Hi+Melody" rel="stylesheet">
<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css">

</head>
<body>
<div class="col-md-4">
</div>
<div class="col-md-4" style="text-align: center; padding-top: 10%">
	<img src="/imgs/recipe_img/not_search.png" height="64px" width="64px"/>
</div>
<div class="col-md-4"></div>
<div class="col-md-3"></div>
<div class="col-md-6" style="padding-top: 30px; text-align: center;"><h1>레시피가 존재하지 않습니다.</h1></div>
<div class="col-md-3"></div>
<div class="col-md-3"></div>
<div class="col-md-6" style="padding-top: 10px; color: gray; text-align: center; padding-bottom: 10%;">
<span>- 단어의 철자가 정확한지 확인해주세요.</span><br>
<span>- 검색어의 단어 수를 줄이거나, 다른 검색어로 검색해 보세요.</span><br>
<span>- 더 일반적인 검색어로 다시 검색해 보세요.</span>
</div>
<div class="col-md-3"></div><br><br>
</body>
</html>