@charset "UTF-8";

.category {
	border: 2px solid #512772;
	border-radius: 20px;
	width: 55px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 25px;
	color: #512772;
	font-weight: bolder;
}


#cate_list {
	display: inline-block;
	font-size: 1.1em;
}

#cate_list>li {
	display: inline-block;
}

.nav-link.active:hover{
	color: white !important;	
	text-decoration: underline;
}

 #cate_list>li>a:hover {
	color: #512772;
	text-decoration: underline;
	font-weight: bolder;
}
.nav-link.nonactive {
	color: black;
	padding: 0px 5px 0px 0px;
}
.nav-link.active {
	border-radius: 10px;
	color: white;
	background-color: #512772;
	padding: 0px 0px 0px 0px;
}

.rounded {
	opacity: 1;
	display: block;
	width: 85%;
	height: 250px;
	transition: .5s ease;
	backface-visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
}

.recipe-list:hover {
	cursor: pointer;
}

.recipe-list:hover .rounded {
	opacity: 0.3;
}
.recipe-title{
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
	font-weight: bolder;
	font-size: 1.1em;
	display: inline-block;
}
.recipe-intro{
	font-size: 0.8em;
	font-weight: lighter;
	color: gray;
	margin-left: 18%;
	margin-right: 14%;
	
}
.img-new{
	display: inline-block;
}
.views-icon{
	margin-left: 75%;
	display: inline-block;
}
.views{
	display: inline-block;
}
.btn-group.btn-group-toggle{
	border: 2px solid #512772;
	border-radius: 7px;
}
.btn.btn-secondary.active{
	background-color: #512772 !important;
	color: white !important;
}
.btn.btn-secondary{
	background-color: white !important;
	color: black !important;
}
#pageNavi{
	margin-left: auto;
	margin-right: auto;
}
.page-item.active>.page-link{
	background-color: #512772 !important;
	border-color: #512772 !important;
	color: white !important;
}
.page-item>.page-link{
	color: #512772 !important;
}