@charset "UTF-8";
#recipe-pic{
	opacity: 1;
	display: block;
	width: 100%;
	height: 450px;
	transition: .5s ease;
	backface-visibility: hidden;
    margin-left: auto;
    margin-right: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 80%;
    background-clip: content-box;
}
#recipe-pic-parent{
	padding-right: 0%;
}
#recipe-title{
	height: 25%;
}
#recipe-info{	
	height: 30%;
}
#recipe-intro{
	height: 45%;
}
#recipe-title>div>h4{
	margin-top: 8%;
	text-align: center;
}
#complete-pic-div{
	width: 70%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
.d-block.w-100{
	height: 500px;
	width: 100%;
}
#recipe-infoes{
	background-color: white;
}
#recipe-body{
	background-color: white;
	margin-bottom: 3%;
	border-radius: 20px;
}
