@charset "UTF-8";

/* 폰트 */
@font-face {
	font-family: IropkeBatang;
	//사용할 폰트명
	src:url('/fonts/IropkeBatangM.eot');
	//eot포맷
	src:local(※), url('/fonts/IropkeBatangM.woff') format('woff');
}

/* 미디어 쿼리 */
@media ( max-width :1802px) {
	#count_div1 {
		display: none;
	}
}

@media ( max-width :1198px) {
	#category-text {
		display: none;
	}
}

@media ( max-width :1150px) {
	#header-ani {
		display: none;
	}
}

@media ( max-width :1021px) {
	#count_wrap {
		display: none;
	}
}

@media ( max-width :768px) {
	#aside {
		visibility: hidden;
	}
	#navi {
		margin: 0;
		padding: 0;
	}
}

@media ( max-width :575px) {
	#navi {
		margin: 0;
		padding: 0;
	}
	#plus #banner2 {
		width: 33%;
		float: left;
	}
	#plus #banner3 {
		width: 33%;
		float: left;
	}
}
/* 미디어 쿼리 끝  */


/* 전체 폰트 적용 */
body {
	font-family: 'IropkeBatang';
}
/* 폰트 적용 끝 */



.contents #main-img-wrap {
	height: 530px;
	padding: 0px;
}

.side_menu_text {
	text-decoration: none;
	color: black;
	font-size: 12px;
}

#aside {
	margin-top: 0;
	position: fixed;
	float: left;
	right: 0;
	bottom: 2;
	padding: 3;
	z-index: 100;
}

#carouselExampleIndicators {
	position: relative;
	z-index: 1;
}


/* 호버 - 사진 클릭 효과 */
#slide_week img:hover{
	cursor: pointer;
	opacity: 0.8;
}
/* - 사진 클릭 효과 끝 */


/* 레시피 카운트 */
#count_wrap div {
	top: 80px;
	height: 70px;
	background-color: #272727;
	padding: 0px;
	float: left;
	margin-left: 5px;
	width: 60px;
}

#count_wrap {
	height: 70px;
	bottom: 30px;
}

strong {
	line-height: 65px;
	color: white;
	font-size: 50px;
}

#application_wrap {
	bottom: 180px;
	left: 0px;
	text-align: right;
}
/* - 카운트 끝 */


/* 인트로 부분 */
#intro-wrap #intro-step {
	border: 2px solid black;
	height: 200px;
	padding: 0px;
}

#intro-wrap #intro-step #intro-step-wrap {
	border: 2px solid black;
	height: 200px;
	float: left;
}

#intro-wrap #intro-step #intro-step-wrap div {
	border: 2px solid black;
	height: 150px;
}

#intro-wrap #intro-step #intro-step-wrap p {
	padding-top: 10px;
}

#intro-wrap button {
	background-color: #512772;
	color: white;
}
/* - 인트로 끝 */


/* 타이틀 바 가운데 줄 */
#title-header {
	display: table;
	text-align: center;
}

#title-header:before, #title-header:after {
	content: '';
	display: table-cell;
	background: #512772;
	width: 50%;
	-webkit-transform: scaleY(0.05);
	transform: scaleY(0.05);
}

#title-header>h1 {
	white-space: pre;
	padding: 0 15px;
}
/* - 끝 */


/* 추천 이벤트 이미지 */
#recommendEvent, #newFoods {
	padding: 6px;
	padding-left: 0px;
}
/* - 추천 이벤트 이미지 끝 */


/* MD 추천 */
#md-wrap {
	padding: 0px;
	padding-bottom: 10px;
}
/* - MD 추천 끝 */


/* 혜택 */
#plus {
	background-color: #f6f7f7;
	padding: 0px;
}
/* - 혜택 끝 */

/* 가로 슬라이드  */
.height_auto {
	height: auto;
	overflow: hidden;
}

.vertical_motion {
	margin: 0;
	padding: 0;
	list-style: none;
}

.vertical_motion .vm_list {
	float: left;
	margin-right: 5px;
	overflow: hidden;
}

.vertical_motion .vm_list img {
	vertical-align: middle
}

.vertical_motion .vm_list.last {
	margin-right: 0
}

.sp_box {
	width: 300px;
	height: 300px;
	overflow: hidden;
}

.vertical_motion.s2 .sp_box {
	width: 795px;
	height: 100px;
}

.vertical_motion2 {
	margin: 0;
	padding: 0;
}

.vertical_motion2 .vm_list2 {
	float: left;
	margin-right: 5px;
	overflow: hidden;
}

.vertical_motion2 .vm_list2 img {
	vertical-align: middle
}

.vertical_motion2 .vm_list2.last {
	margin-right: 0
}

.vertical_motion2 .sp_box {
	width: 685px;
}

.vm_list 

.vm_list a{
	text-decoration:none;
}

.vm_list p{
	color:black;
	font-size:13px;
	font-weight: 600;
}
/* --- */