@charset "UTF-8";

.side_menu_text {
	text-decoration: none;
	color: black;
	font-size: 12px;
}

#aside {
	margin-top: 0;
	position: fixed;
	float: left;
	right: 0;
	bottom: -2;
	padding: 3;
	z-index: 100;
}

#carouselExampleIndicators {
	position: relative;
	z-index: 1;
}

@media ( max-width :768px) {
	#aside {
		visibility: hidden;
	}
	#navi {
		margin: 0;
		padding: 0;
	}
}

@media ( max-width :575px) {
	#navi {
		margin: 0;
		padding: 0;
	}
	#plus #banner2 {
		width: 33%;
		float: left;
	}
	#plus #banner3 {
		width: 33%;
		float: left;
	}
}

#main_div_1 #main_img_1:hover{
	cursor: pointer;
	opacity: 0.8;
}

#main_div_1 #main_img_2:hover{
	cursor: pointer;
	opacity: 0.8;
}
#main_div_1 #main_img_3:hover{
	cursor: pointer;
	opacity: 0.8;
}
#main_div_1 #main_img_4:hover{
	cursor: pointer;
	opacity: 0.8;
}

#main_div_2 #main_img_2_1:hover{
	cursor: pointer;
	opacity: 0.8;
}

#main_div_2 #main_img_2_2:hover{
	cursor: pointer;
	opacity: 0.8;
}
#main_div_2 #main_img_2_3:hover{
	cursor: pointer;
	opacity: 0.8;
}
#main_div_2 #main_img_2_4:hover{
	cursor: pointer;
	opacity: 0.8;
}
