@charset "UTF-8";


/* 미구현  */
@media ( min-width : 768px) {
	.header {
		max-width: 100%;
	}
}

div {
	border: 1px solid black;
}

*{
	margin:0;
	padding:0;
}

.photoBtn{
	
	border:0 ;
	outline:0;
}

.thumb-image{
 float:left;width:100px;
 position:relative;
 padding:5px;
}

/* 폰트 */
@font-face {
    font-family: IropkeBatang; // 사용할 폰트명
    src: url('/fonts/IropkeBatangM.eot'); // eot 포맷
    src: local(※), url('/fonts/IropkeBatangM.woff') format('woff'); // ie9이상은 woff 포맷 적용
}

body{font-family:IropkeBatang;}