@charset "UTF-8";


/* 미구현  */
@media ( min-width : 768px) {
	.header {
		max-width: 100%;
	}
}

div {
	border: 1px solid black;
}

*{
	margin:0;
	padding:0;
}

.photoBtn{
	
	border:0 ;
	outline:0;
}
