/*랭킹 메인 페이지 - 오늘의 레시피, 이달의 레시피, 이달의 쉐프 1~5위까지 순위 css*/

/*데이트피커*/
#datepicker{
	z-index: 9999;
}

/*이미지*/
#imgWrap{
	/*width: 950px;
	height: 350px;*/
	width: 100%;
	height: 100%;
	
}

#cardImgs{
	/*width: 100%;
	height: 100%;*/
	width: 880px;
	height: 350px;
}

#rankingListWrap{
	width: 880px;
	height: 350px;	
}


/*카드-이미지 담은 div*/
#rankingList{
	width: 880px;
	height: 350px;
	color: black;
	background-color: black;
	border:none;
	overflow: hidden;
}

/*카드 이미지 담은 div hover*/
#rankingList:hover{
	background-color: #AAABD3;
	opacity: 0.8;
	color: black;
	overflow: hidden;
}


/*container 전체 overflow 설정*/
.container{
	overflow: hidden;
	
}

/*카드에서 오버레이 - 글자 감싸고 있는 부분 -> padding으로 글자 아래로*/
#cardOverlay{
	width: 905px;
	height: 350px;
	padding-top: 230px;
	padding-left: 0px;  
	padding-right: 25px;
	overflow: hidden;
	
}

/*카드 오버레이에서 글자 잘보이게 배경 & 글자 색 조절*/
#cardContents{
	background-color: #F8FAFF;
	opacity: 0.8;
	height : 121px; 
	width: 930px;
	/*width: 1142px;*/
	overflow: auto;
	padding-right: 20px;
}

/*글자들 좌우 조절*/
.card-title{
	margin-top: 5px;
	padding-left: 20px; 
	padding-right: 20px;
	display: inline-block;
}

.card-text{
	padding-left: 20px; 
	padding-right: 40px;
}

#viewDiv{
	margin-left: 10px;
}

#viewIcon,#viewIcon1,#viewIcon2,#viewIcon3,#viewIcon4,#viewIcon5{
	width: 20px;
	height: 20px;
}

#rankingViews,#rankingViews1,#rankingViews2,#rankingViews3,#rankingViews4,#rankingViews5{
	display: inline-block; 
	margin-left: 5px; 
	margin-top: 14px;
	color: #353866;
}


#tableContainer{
	overflow: hidden;
	padding: 0px;
}

#tableWrap{
	width: 900px;
	overflow: hidden;
}


.date{
	margin-left: 40px;
	margin-right: 40px;
}

/*날짜 누르면 포인터로!(div)*/
.date:hover {
  cursor: pointer;
}




 #dateWrap{
 	margin-bottom: 30px;
 }


.btn .btn-secondary .btn-lg .active{
	display: inline-block;
    padding: 6px 20px;
    margin: 0 2px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
}


/*날짜 나오는 h태그*/
#rankingDateToday{
	font-size: 36px;
    font-weight: bold;
    text-decoration: none;
	cursor: pointer;
	color: #353866;
	text-shadow: 2px 2px 2px #F8FAFF;
}