/*랭킹 메인 페이지*/



#rankingTopName{/*랭킹 페이지 상단부 이름*/
	color: #353866;
}

#line{/*랭킹 페이지 상단부 라인 (div)*/
	/*border-bottom: 1px solid #EAEAEA;*/
	/*padding-left: 5%;*/
	text-align:center;
}


/*container-fluid로 설정시에 사용!*/
/*#wrap{
	padding-left: 200px;
}*/

#todayRecipe{	/*오늘의 레시피 div*/
height: 500px;
/*padding-left: 28px;*/
padding-left: 5px;
padding-right: 10px;
text-align: center;
overflow: hidden;
 border-radius:5px;
 cursor: pointer; 
/*background-color: yellow;
border-top: 1px solid #EAEAEA;
border-right: 1px solid #EAEAEA;
border-left: 1px solid #EAEAEA;
border: 1px solid #EAEAEA;*/
}

#monthRecipe{	/*이달의 레시피 div*/
height: 500px;
padding-left: 28px;
padding-right: 10px;
text-align: center;
overflow: hidden;
 border-radius:5px;
  cursor: pointer; 
/*background-color: yellow;
border-top: 1px solid #EAEAEA;
border-right: 1px solid #EAEAEA;
border-left: 1px solid #EAEAEA;
border: 1px solid #EAEAEA;*/
}

#monthUserRecipe{	/*이달의 회원 div*/
height: 500px;
padding-left: 28px;
padding-right: 10px;
text-align: center;
overflow: hidden;
 border-radius:5px;
  cursor: pointer; 
/*background-color: yellow;
border-top: 1px solid #EAEAEA;
border-right: 1px solid #EAEAEA;
border-left: 1px solid #EAEAEA;
border: 1px solid #EAEAEA;*/
}

#rankingLine{ /*오늘의 레시피, 이달의 레시피, 이달의 회원 상단에 있는 라인(div)*/
	border-top: 2px solid #353866;
	padding-top: 10px;
	width: 350px;
	height: 40px;
	text-align: center;
	/*background-color: #F8FAFF;*/
}

#rankingTitle{	/*랭킹 이름 텍스트 속성*/
	text-align : center;
	color: #353866;
}

#rankingURL,
#rankingURL:hover {/*랭킹 a태그 url css*/
	color: #CBA6C3;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

#ranking_Division_Line{
	border-bottom: 3px solid #EAEAEA; /*#EAEAEA*/
	width: 350px;
	height: 20px;
	margin-left: 35%;
}


#aTextDiv{
	text-align: center;

}

#aText{
	color : #030066;
	font-size: 18px;
	text-decoration: none;
	cursor: pointer;
}

#aText:hover{
	color : #AAABD3;
	font-size: 18px;
	text-decoration: none;
	cursor: pointer;
}


.card{
	width: 360px; 
	height: 800px;
}

.card .first{
	width: 1200px; 
	height: 800px;
}

.card-img-top{
	height: 600px;
}

.card-img-top .first{
	height: 600px;
	width: 1200px;
}

/*.card-body .first{
	width: 1200px;
}
*/
/*슬라이드 카드 a 태그*/
#cardA{
	color: black;
}

#cardA:hover{
	color:#F8FAFF;
}



#borderWrap{
	border: 85px double #F8FAFF;
	padding: : 40px;
	border-radius: 25px;
	width: 75%;
	background-color: white;
}

#wrapgradient{
	background: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(248,250,255,1) 32%);
}

/*
#iframe{
	overflow: auto;
}*/